<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forms.prms.web.export.exportPage.ExportPageToolDao">
	
	<select id="getCount" parameterType="SqlAdapter" resultType="int">
		${sql}
	</select>
	
	<select id="getResult" parameterType="SqlAdapter" resultType="Map">
		${sql}
	</select>
			
</mapper>