.banner {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
/* 	background-color: #EEE; */
}

.systemStyle {
	float: right;
	margin: 5px 5px 0 0;
}

.systemStyle a {
	padding: 3px;
}

.language {
	float: right;
	margin: 5px 5px 0 0;
}

.language a {
	padding: 3px;
}

.theme {
	float: right;
	margin: 5px 5px 0 0;
}

.menu {
	width: 100%;
	margin-top: 2px;
	height: 30px;
	/*background-color: #CCC2D9;*/
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	list-style: none;
	height: 20px;
	width: 80px;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	display: block;
	cursor: default;
}

.menu .spliter {
	height: 30px;
	width: 1px;
	padding: 0;
	background-color: #EEE;
}

.contentWrapper {
	/*margin-top: 2px;*/
	width: 100%;
}

.content {
	text-align: left;
	width: 1002px;
	padding: 10px;
}

.footer {
	float: left;
	border-top: 1px solid #999;
	margin-top: 5px;
	width: 100%;
	text-align: center;
}
