/* CSS Document */
.base-input-text{width:245px;height: 25px;line-height:25px; background-color: #FAF9F0;font-family: Arial; font-size: 12px;vertical-align: middle;border: #D8D4C4 solid 1px;}
.base-select select{background: transparent;width: 285px;padding: 5px;font-family: Arial; font-size: 12px;border: #D8D4C4 solid 1px;height: 34px;-webkit-appearance: none; /*for chrome*/}
.base-select{width: 245px; height: 34px; overflow: hidden; background:url("../images/lared.gif") no-repeat right #FAF9F0;border-right: #D8D4C4 solid 1px;} 
.base-textArea{border:1px solid;overflow-y: auto;width: 99%;height: 80px;background-color: #FAF9F0;border: #D8D4C4 solid 1px;margin: 15px 1px 5px 1px;}
.base-textAreaONoBorder{border:0px solid;overflow:visible;readonly:true;}

.base-input-radio {width: 245px;}
.base-input-radio label{padding:5px;color: #000000;vertical-align: middle;text-align:center;float:left;height: 20px;line-height:20px; background-color: #FAF9F0;font-family: Arial; font-size: 14px;border: #D8D4C4 solid 1px;display: inline;top:-5px;}
.base-input-radio .check-label{background-color: #BD304D;color: #ffffff;}
.base-input-radio label{text-align:center;cursor: pointer;}
.base-input-radio input{position:relative;left:-99999px;}

.clear {clear: both;}

/* top */
.top{ z-index:98;width:100%; height:104px; background:#fcf8ef; border-bottom:#be2f4d solid 3px;position:fixed;top:0px;}
.about_user{ float: right; height:40px; padding:10px 22px 0 0; }
.user{  float:right; margin-top:14px;}
.user a{ display:block; float:left; background:url(../images/user.gif) 0px 0px no-repeat;   height:20px; padding-left:30px; padding-right:10px; padding-top:10px;}
.user a:hover{ text-decoration:underline;}
.exit{ float:right;margin-top:14px;}
.exit a{ display:block; float:left; background:url(../images/exit.gif) 0px 0px no-repeat;  height:20px; padding-left:30px; padding-right:10px; padding-top:10px;}
.exit a:hover{ text-decoration:underline;}
.style{ float:right;margin-left:6px;}
.style a{ display:block; background:url(../images/style.jpg) 0px 0px no-repeat;  width:40px; height:40px; }
.style a:hover{ display:block; background:url(../images/style2.jpg) 0px 0px no-repeat;  width:40px; height:40px; }
.layout{ float:right; margin-left:6px; }
.layout a{ display:block; background:url(../images/layout.jpg) 0px 0px no-repeat;  width:40px; height:40px; }
.layout a:hover{ display:block; background:url(../images/layout2.jpg) 0px 0px no-repeat;  width:40px; height:40px; }

.font{float:right; margin-left:6px; }
.font a{ display:block; background:#EAE4D7;  width:16px; height:16px; color:#be2f4d; padding:12px 12px; font-weight:bold; }
.font a:hover{ display:block; background:#be2f4d;  color:#fdfcf8; font-weight:bold;  }



/* button */
.p-button {float: right; margin-left:6px; display: block; width: 40px; height: 40px;}
.p-button span {display: none;}

.search { background:url(../images/search.jpg) 0px 0px no-repeat; }
.search:hover { background:url(../images/search2.jpg) 0px 0px no-repeat; }

.add {background:url(../images/add.jpg) 0px 0px no-repeat;}
.add:hover {background:url(../images/add2.jpg) 0px 0px no-repeat;}

.start { background:url(../images/start.jpg) 0px 0px no-repeat; }
.start:hover { background:url(../images/start2.jpg) 0px 0px no-repeat; }

.forbid { background:url(../images/forbid.jpg) 0px 0px no-repeat; }
.forbid:hover { background:url(../images/forbid2.jpg) 0px 0px no-repeat; }

/*
.delete { background:url(../images/delete.gif) 0px 0px no-repeat; }
.delete:hover { background:url(../images/delete2.gif) 0px 0px no-repeat; }

*/

.base-button {border: solid 1px #0076a3;background:#1FA9E7 ;color: #FFFFFF ; /*width: 120px;*/height: 31px !important;cursor: hand;}
.base-button:hover {background: #007ead;background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));background: -moz-linear-gradient(top,  #0095cc,  #00678e);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');}
.base-button:active {color: #80bed6;background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));background: -moz-linear-gradient(top,  #0078a5,  #00adee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');}

/* menu */
.menu1 {float: right; padding-right: 22px;/*position:absolute; bottom:0px;right:15px;*/}
.menu1 ul {float: right; margin: 20px 0 0 0; }
.menu1 ul li{ float:right; padding-left:4px; }
.menu1 ul li a{ display:block; padding:12px 24px  12px  24px;background:#eeeadc;   }
.menu1 ul li a:hover{ display:block;  padding:12px 24px  12px  24px; background:#be2f4d; color:#fdfcf8;   }
.menu1-selected a { display:block;  padding:12px 24px  12px  24px; background:#be2f4d !important; color:#fdfcf8;   }

#nowpage{display:block;  padding:12px 24px  12px  24px; background:#be2f4d; color:#fdfcf8;   margin-left:4px; }

/*left */
.body_wrap{float: left; width: 100%;}
.menu-hidden {display: none;}

.menu2{ margin: 0; padding: 0; margin-top:1px; }
.menu2 ul { margin: 0; padding: 0; }
.menu2 li { margin: 0; padding: 0; }
.menu2 li a { text-align: left;}

.menu-level-2 {margin-bottom: 1px !important;}
.menu-level-2 a { display:block;   width:185px; height:27px; background: #eeeadc url(../images/menu_close.jpg)  165px  5px no-repeat; padding: 13px 0 0 20px;}
.menu-level-2 a:hover { display:block;   width:185px; height:27px; background: #be2f4d url(../images/menu_close_hover.jpg)  165px  5px no-repeat; padding: 13px 0 0 20px; color:#fdfcf8;}
.menu-level-2-expand a { display:block;   width:185px; height:27px; background: #eeeadc url(../images/menu_open.jpg)  165px  5px no-repeat; padding: 13px 0 0 20px;}
.menu-level-2-expand a:hover { display:block;   width:185px; height:27px; background: #be2f4d url(../images/menu_open_hover.jpg)  165px  5px no-repeat; padding: 13px 0 0 20px;}
.menu-level-2-selected a { display:block;   width:185px; height:27px; background: #be2f4d url(../images/menu_close_hover.jpg)  165px  5px no-repeat; padding: 13px 0 0 20px; color:#fdfcf8;}

.menu-level-3 {margin-top:1px;  background:#4c4944; /*border-left:#be2f4d solid 4px;*/}
.menu-level-3 a { display:block;   width:168px; height:27px; background: #fffef5 url(../images/menu3.jpg)  12px  5px no-repeat; padding: 13px 0 0 38px;}
.menu-level-3 a:hover { display:block;   width:168px; height:27px; background: #be2f4d url(../images/menu3_hover.jpg)  12px  5px no-repeat; padding: 13px 0 0 38px; color:#fdfcf8;}
.menu-level-3-expand a { display:block;   width:168px; height:27px; background: #fffef5 url(../images/menu3.jpg)  12px  5px no-repeat; padding: 13px 0 0 38px;}
.menu-level-3-expand a:hover { display:block;   width:168px; height:27px; background: #be2f4d url(../images/menu3.jpg)  12px  5px no-repeat; padding: 13px 0 0 38px; color:#fdfcf8;}
.menu-level-3-selected a { display:block;   width:168px; height:27px; background: #be2f4d url(../images/menu3_hover.jpg)  12px  5px no-repeat; padding: 13px 0 0 38px; color:#fdfcf8;}

.menu-level-4 {margin-top:1px;  background:#4c4944; color:#fdfcf8; }
.menu-level-4 a { display:block;   width:156px; height:27px; background: #fffef5 url(../images/menu3.jpg)  20px  5px no-repeat; padding: 13px 0 0 50px; }
.menu-level-4 a:hover { display:block;   width:156px; height:27px; background: #be2f4d url(../images/menu3_hover.jpg)  20px  5px no-repeat; padding: 13px 0 0 50px; color:#fdfcf8;}
.menu-level-4-selected a { display:block;   width:156px; height:27px; background: #be2f4d url(../images/menu3_hover.jpg)  20px  5px no-repeat; padding: 13px 0 0 50px; color:#fdfcf8;}

.menu4_wrap{margin-top:1px;  background:#4c4944; color:#fdfcf8; }
.menu4{ margin-top:1px;}
.menu4 a { display:block;   width:156px; height:27px; background: #4c4944 url(../images/menu3.jpg)  20px  5px no-repeat; padding: 13px 0 0 45px; color:#fdfcf8;}
.menu4 a:hover { display:block;   width:156px; height:27px; background: #be2f4d url(../images/menu3_hover.jpg)  20px  5px no-repeat; padding: 13px 0 0 45px; color:#fdfcf8;}



/*body */
.left{ z-index:98;width: 205px; position: fixed; left: 0; top :107px; _top: 110px; /*border-right:#d9d3c5 solid 3px;*/}
.nav{ text-align: left; width: auto; height:20px; padding-top:18px; margin-bottom: 5px; /*margin-left: 20px;*/}
.main{position:relative;top:107px; margin-left: 208px; height: auto !important; height: 600px; min-height: 600px; padding: 0 30px; /*border-left:#d9d3c5 solid 3px;*/}
.deal{ float:right; width:100%; height:40px; }
.table_title{ text-align:left; font-size:16px; font-weight:bold; height:40px;}
.table_head{ text-align:left; background:#d9d3c5; height:45px; padding-left:15px;}
.table_body{ text-align:left; height:45px; padding-left:15px; border-bottom:#d9d3c5 solid 1px;}




/* pagination */
/*.pagination{ margin:0 auto; height:auto; width:100%; margin-top:20px;}*/
.pagination {float: right;}
.pagination p {float: left; padding-top: 10px; margin: 0 5px;}
/*.pagination > span {display: block; float: left; padding-top: 10px; margin: 0 5px;}*/
.pagination .number {color: #BF324F;}
.pagination a {display: block; float: left; width: 30px; height: 30px; margin-left: 5px;}
.pagination a span {display: none;}
.pagination .btn-first-disabled {cursor:default; background: url("../images/first_page1.jpg") no-repeat;}
.pagination .btn-first {background: url("../images/first_page1.jpg") no-repeat;}
.pagination .btn-first:hover {background: url("../images/first_page2.jpg");}
.pagination .btn-prev-disabled {cursor:default; background: url("../images/prepage1.jpg") no-repeat;}
.pagination .btn-prev {background: url("../images/prepage1.jpg") no-repeat;}
.pagination .btn-prev:hover {background: url("../images/prepage2.jpg");}
.pagination .btn-next-disabled {cursor:default; background: url("../images/nextpage1.jpg") no-repeat;}
.pagination .btn-next {background: url("../images/nextpage1.jpg") no-repeat;}
.pagination .btn-next:hover {background: url("../images/nextpage2.jpg");}
.pagination .btn-last-disabled {cursor:default; background: url("../images/last_page1.jpg") no-repeat;}
.pagination .btn-last {background: url("../images/last_page1.jpg") no-repeat;}
.pagination .btn-last:hover {background: url("../images/last_page2.jpg");}
.pagination .btn-jump {background: url("../images/go1.jpg") no-repeat;}
.pagination .btn-jump:hover {background: url("../images/go2.jpg");}
.pagination input {float: left; margin-top: 6px;}


/* index_PAGE */
.before_page{ width:auto; padding-top:10px;}
.before_page_input{width:auto; padding-top:5px;}
.table ul li{ float:right; margin:2px 0px 0 5px;}
.table{ margin:0 auto; height:auto; width:100%; margin-top:20px;}
.page a{width:30px; height:30px;display:block;}
.page1 a{ background:url(../images/first_page1.jpg);}
.page1 a:hover{ background:url(../images/first_page2.jpg);}
.page2 a{ background:url(../images/prepage1.jpg);}
.page2 a:hover{ background:url(../images/prepage2.jpg);}
.page3 a{ background:url(../images/nextpage1.jpg);}
.page3 a:hover{ background:url(../images/nextpage2.jpg);}
.page4 a{ background:url(../images/last_page1.jpg);}
.page4 a:hover{ background:url(../images/last_page2.jpg);}
.page5 a{ background:url(../images/go1.jpg);}
.page5 a:hover{ background:url(../images/go2.jpg);}
.red{ color:#A41E1E;}

.nowpage{display:block;  padding:12px 24px  12px  24px; background:#be2f4d; color:#fdfcf8;   margin-left:4px; }

.detail{ float:left; }
.detail a{ display:block; background:url(../images/detail.gif) 0px 0px no-repeat;  width:40px; height:40px; }

.update{ float:left; margin-left:6px; }
.update a{ display:block; background:url(../images/edit.gif) 0px 0px no-repeat;  width:40px; height:40px; }


/* ����dialog����ʽ  */
.dialog_label{ float:left; margin: 18px 0 4px 82px; }
.dialog_input{ float:left; margin:0 82px; width:306px; /*height:41px;*/ padding: 13px 5px; background-color: #F9F9F9;border:none;}

.ui-dialog {padding: 0; border: none;}
.dClass .ui-widget-header { border: none/*{borderColorHeader}*/; background: #E6DECA/*{bgColorHeader}*/; font-weight: bold; color: #4B4A41; font-size: 16px; }
.dClass .ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.dClass .ui-dialog-title {padding: 5px 1px;}
.dClass .ui-widget-content { border: 0px; background: #EEEADC/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }

.dClass .ui-dialog-buttonpane { margin: 0; padding: 0; text-align: center; border: none; background-image: none; width: 100%; }
.dClass .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; margin: 0; margin-bottom: 20px;}
.dClass .ui-dialog-buttonpane .ui-state-default { margin-left: 10px; margin-right: 10px; border: #BD304D; background: #BD304D; color: #fdfcf8; /*width: 120px;*/ height: 31px; }
.dClass .ui-corner-all { 
	moz-border-radius: 0px/*{cornerRadius}*/;
	-webkit-border-radius: 0px/*{cornerRadius}*/;
	-khtml-border-radius: 0px/*{cornerRadius}*/;
	border-radius: 0px/*{cornerRadius}*/; 
}
.dClass .ui-dialog-titlebar-close {width: 26px; height: 26px; padding: 0; margin: 0; top: 8px; right: 10px;}
.dClass .ui-state-hover {color: #fdfcf8 !important; border: 0px;}
.dClass .ui-icon-closethick {width: 26px; height: 26px; background: url("../images/close.jpg") no-repeat;}

.dTipClass .ui-dialog-buttonset {float: none; margin: 0; margin-bottom: 10px !important;}


.wfPicDialogClass .ui-widget-header { border: none/*{borderColorHeader}*/; background: #E6DECA/*{bgColorHeader}*/; font-weight: bold; color: #4B4A41; font-size: 16px; }
.wfPicDialogClass .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.wfPicDialogClass .ui-dialog-title {padding: 5px 1px;}
.wfPicDialogClass .ui-dialog-buttonpane { margin: 0; padding: 0; text-align: center; border: none; background-image: none; width: 100%; }
.wfPicDialogClass .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; margin: 0; margin-bottom: 20px;}
.wfPicDialogClass .ui-dialog-buttonpane .ui-state-default { margin-left: 10px; margin-right: 10px; border: #BD304D; background: #BD304D; color: #fdfcf8; /*width: 120px;*/ height: 31px; }
.wfPicDialogClass .ui-dialog-titlebar-close {width: 26px; height: 26px; padding: 0; margin: 0; top: 8px; right: 10px;}
.wfPicDialogClass .ui-state-hover {color: #fdfcf8 !important; border: 0px;}
.wfPicDialogClass .ui-icon-closethick {width: 26px; height: 26px; background: url("../images/close.jpg") no-repeat;}
/*
	δ��¼��ʾ�� 
*/
.unloginDialogClass .ui-widget-header {background: #FCF8EF; border: none;}
.unloginDialogClass .ui-dialog-content {padding: 40px 0 60px 60px; background: #FCF8EF url("../images/as.gif") 50px 22px no-repeat; border: none; color: #BD304B; font-size: 24px;}
.unloginDialogClass .ui-dialog-buttonpane {background: #FCF8EF; border: none; margin: 0; padding: 0;}
.unloginDialogClass .ui-dialog-buttonpane .ui-button { border: #BD304D; background: #BD304D; color: #fdfcf8; width: 120px; height: 40px; margin: 0 45px 41px 0;}
.unloginDialogClass .ui-dialog-titlebar-close {width: 26px; height: 26px; padding: 0; margin: 0; top: 8px; right: 10px;}
.unloginDialogClass .ui-state-hover {color: #fdfcf8 !important; border: 0px;}
.unloginDialogClass .ui-icon-closethick {width: 26px; height: 26px; background: url("../images/close.jpg") no-repeat;}

/* 
	������ʾ�� 
*/
.errorDialogClass .ui-widget-header {background: #FCF8EF; border: none;}
.errorDialogClass .ui-dialog-content {padding: 29px 0 0 0; background: #FCF8EF url("../images/a.gif") 193px 62px no-repeat; border: none; color: #BD304B; font-size: 24px;}
.errorDialogClass .ui-dialog-buttonpane {background: #FCF8EF; border: none; margin: 0; padding: 0;}
.errorDialogClass .ui-dialog-buttonpane .ui-button { border: #BD304D; background: #BD304D; color: #fdfcf8; width: 120px; height: 40px; margin: 0 45px 25px 0;}
.errorDialogClass .ui-dialog-titlebar-close {width: 26px; height: 26px; padding: 0; margin: 0; top: 8px; right: 10px;}
.errorDialogClass .ui-state-hover {color: #fdfcf8 !important; border: 0px;}
.errorDialogClass .ui-icon-closethick {width: 26px; height: 26px; background: url("../images/close.jpg") no-repeat;}

/* δ��¼ҳ�� */
.unloginPanel { position: relative; top: 150px; margin: 0 auto; background: #FCF8EF; border: none; width: 450px; height: 232px;}
.unloginPanel span {position: relative; top: 52px; left: 50px; display: block; text-align:left; padding: 23px 50px 23px 70px; background: url("../images/as.gif") no-repeat; color: #BD304B; font-size: 24px; font-weight: bold;}
.unloginPanel .ui-button { position: relative; top: 80px; left: 110px; border: #BD304D; background: #BD304D; color: #fdfcf8; width: 120px; height: 40px; margin: 0 45px 25px 0; font-weight: bold;}

/* δ��Ȩҳ�� */
.unauthorizedPanel {margin: 0 auto; position: relative; top: 120px; background: #FCF8EF url("../images/a.gif") 193px 129px no-repeat; color: #B9324D; border: #EEEADA solid 1px; width: 516px; height: 296px; text-align: center;}
.unauthorizedPanel span {display: block; font-size: 28px; margin-top: 62px; }

/* �쳣ҳ�� */
.exPanel {margin: 0 auto; position: relative; top: 10px; background: #FCF8EF; border: #EEEADA solid 1px; width: auto !important; width: 800px; min-width: 800px; height: auto; text-align: left;}
.exPanel .contentBox {margin: 33px 50px 40px 55px;}
.exPanel .contentBox .title {display: block; background: url("../images/as.gif") no-repeat; font-size: 28px; padding: 21px 90px; color: #BC314D; width: auto; height: 28px;}
.exPanel .contentBox .exDetail .returnCode {color: #B9324D; font-weight: bold; font-size: 20px;}
.exPanel .contentBox .exDetail .exMessage {color: #57564C; font-size: 20px; font-weight: bold;}
.exPanel .contentBox .exDetail .exStack {color: #A00000;}

/* Component containers
----------------------------------*/
/*
.ui-widget-content { border: none;}
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: none; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }
*/

/* autocomplete
----------------------------------*/
.ui-widget .ui-autocomplete-button {background-image: url("../images/lared.gif");}
.ui-widget .ui-autocomplete-button {height: 34px;width: 29px;line-height:34px;margin-left: -1px;white-space: nowrap;background-color: #FAF9F0;_margin-left: -1px;vertical-align: middle;border-right: #D8D4C4 solid 1px;border-top: #D8D4C4 solid 1px;border-bottom: #D8D4C4 solid 1px;border-left: 0px;}
.ui-widget .ui-autocomplete-input { width: 213px;height: 29px;line-height:30px; background-color: #FAF9F0;font-family: mshy; font-size: 12px;vertical-align: middle;border-left: #D8D4C4 solid 1px;border-top: #D8D4C4 solid 1px;border-bottom: #D8D4C4 solid 1px;border-right: 0px;_height: 35px;_line-height:35px;}
.ui-widget .ui-button-icon-only .ui-button-text { padding: 5px; } 
.ui-autocomplete{width: 213px;max-height: 400px;overflow-y:auto;overflow-x: hidden; }* html .ui-autocomplete{height: 400px;}*
.ui-autocomplete li{height:auto;text-align: left;padding: 0px;}
.ui-autocomplete li a{padding: 0px;font-family: Arial; font-size: 11px;top:1px;}
#dept_type_ui .ui-autocomplete-input{width:80px;}
#dept_type_ui .ui-autocomplete{width:80px;}
/* tab */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-right,
.ui-corner-bottom {
	moz-border-radius: 10px/*{cornerRadius}*/;
	-webkit-border-radius: 10px/*{cornerRadius}*/;
	-khtml-border-radius: 10px/*{cornerRadius}*/;
	border-radius: 10px/*{cornerRadius}*/; 
}
.ui-tabs {padding: 0;}
.ui-tabs .ui-tabs-nav {background: #FFFFFF; border: none; padding-left: 0;}
.ui-tabs .ui-tabs-panel {background: #FFFFFF; border-top: #be2f4d solid 3px;}
.ui-tabs .ui-tabs-nav .ui-state-default {background: #FFFFFF;moz-border-radius: .5em/*{cornerRadius}*/;-webkit-border-radius: .5em/*{cornerRadius}*/;border-radius: .5em/*{cornerRadius}*/;}
.ui-tabs .ui-tabs-nav .ui-tabs-active {color: #80bed6;background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));background: -moz-linear-gradient(top,  #0078a5,  #00adee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');} 
.ui-tabs .ui-tabs-nav .ui-tabs-active a {color: #fdfcf8;}
.ui-tabs .pagination {float: none; width: 100%; height: 40px;}
.ui-tabs .pagination .pagination-wrapper {float: right;}

/* datepicker */
.ui-datepicker {background: #E4E1D5;}
.ui-datepicker .ui-datepicker-header {background: #D8D4C4;}
.ui-datepicker table th {background: #D8D4C4;}


.table_title2{ text-align:center; font-size:16px; font-weight:bold; height:30px;}

.countDowm {}
.countDownText {text-align: left;}
#clock { margin-left: 5px;}
#clock span {font-family:Applied Font;font-size:28px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}

.tbClass2 {	
	border-collapse: collapse;
	border-spacing: 0px;
}
.tbClass2 caption {text-align:left; font-size:16px; font-weight:bold; height:40px; }
.tbClass2 td {text-align:left; height:40px; padding-left:15px; border-bottom:#d9d3c5 solid 1px;}
.tbClass2 th {text-align:left; background:#eeeadc; height:30px; padding-left:15px;}
.tbClass2 tr {font-weight:normal;}


.trOther {
	background-color:#FFFFFF; 
}

.trOnOver2 {
	background-color:#F5F3EB;
}

/* Overlays */
.ui-widget-overlay { background: #000/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 25%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .5;filter:Alpha(Opacity=25)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .5;filter:Alpha(Opacity=50)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -khtml-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }


/* for dhtml tree */
.dhxtree_dhx_skyblue .standartTreeRow {text-align: left;}



/* login page */
.index{background: #EAF6FF;width: 100%;height: 100%;}
.logo{border-bottom:#be2f4d solid 3px;position: absolute;background:#FFFFFF url("../images/login/logo_03.png") 20px no-repeat;width:100%;height:100px;top: 0px;}
.login-panel {text-align:center; position: relative; background: url("../images/login/login_bg.png") no-repeat; margin: 0 auto; margin-top: 195px; width: 447px; height: 274px;text-align: center;}
.login-panel label {float: left; margin: 0; position: absolute; left: 170px; padding: 13px 5px; color: #828184; cursor: t}
.login-panel input {float: left; margin: 0; position: absolute;left: 170px;padding: 10px 10px;width: 156px;height: 3px; border: 1 solid;}
.login-panel .user-id {top: 90px; }
.login-panel .user-id-label {top: 55px; z-index: 1;}
.login-panel .password { top: 150px; }
.login-panel .password-label {top: 120px; z-index: 1;}
.login-panel .login-img {position:absolute;left:30px;top:70px;background: url("../images/login/user.png") no-repeat;width: 116px;height: 116px;}
.login-bg {position:absolute;top:200px;background: url("../images/login/background_image_02.png"); width: 100%;height: 208px;}
.login-panel .reset-btn {background: url("../images/login/reset.png") no-repeat !important;}
.login-panel .ui-button {background:url("../images/login/lg.png") no-repeat; top: 210px; height: 35px !important;text-align:center; color: #FFFEFA; font-weight: bold; width: 152px; left:195px;padding-left: 10%;}
.copyright {position:absolute;bottom:20px;text-align: center;margin: 0 auto;width: 100%;}


.skey_del { float:left; display:block; border: #D8D4C4 solid 1px; height:20px; margin:0 auto; background:url(../images/error_s.gif) 95% 50% no-repeat #FAF9F0; padding:8px 0 0 5px; font-family: Arial;font-size: 12px;vertical-align: middle;width: 580px;cursor: hand;}
.skey_del2 { float:left; display:block; border: #D8D4C4 solid 1px; height:20px; margin:0 auto; background-color:#FAF9F0; padding:8px 0 0 5px; font-family: Arial;font-size: 12px;vertical-align: middle;width: auto;cursor: hand;}


.close { display:block;   width:185px; height:27px; background: #eeeadc 165px  5px no-repeat; padding: 13px 0 0 20px;}
.open { display:block;   width:185px; height:27px; background: #eeeadc 165px  5px no-repeat; padding: 13px 0 0 20px;}
	