<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forms.prms.web.pay.icmsedit.dao.IcmsEditDAO">
	<!--合同待付款信息列表查询-->
	<select id="icmsEditList" parameterType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean" 
		resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		select T.*,
		       TC.CNT_NAME,
		       TC.CNT_TYPE,
		       SEL2.PARAM_NAME AS CNT_TYPE_NAME,
		       TC.IS_ORDER,
		       SS.PARAM_NAME   AS payDataFlag
		  from (SELECT 'N' AS isPrePay,
		               TP.CNT_NUM,
		               TP.PAY_ID,
		               TP.PAY_DATE,
		               TP.PAY_AMT,
		               TP.INVOICE_ID,
		               TP.INVOICE_AMT,
		               TP.DATA_FLAG,
		               TP.PROVIDER_CODE,
		               TP.PROVIDER_NAME,
		               TP.INST_DUTY_CODE,
		               TP.IS_CREDIT_NOTE,
		               TP.INVOICE_ID_BLUE,
		               TP.ICMS_EDIT,
		               TP.APPLY_ICMSEDIT_USER AS INST_OPER,
		               NVL2(TEMP1.pay_id, 'N', 'Y') AS IS_ENABLE
		          from td_pay tp
		          LEFT JOIN (SELECT pay_id FROM td_pay A WHERE A.APPLY_ICMSEDIT_USER = #{instOper,jdbcType=VARCHAR}) TEMP1 ON TEMP1.PAY_ID = TP.PAY_ID
		         Where tp.icms_edit = '1'
		           and exists (select 1
		                  from tb_fndwrr b
		                 where tp.inst_duty_code = b.duty_code
		                   and b.org1_code  = #{org1Code,jdbcType=VARCHAR})
		        union
		        SELECT 'Y' AS isPrePay,
		               TPA.CNT_NUM,
		               TPA.PAY_ID,
		               TPA.PAY_DATE,
		               TPA.PAY_AMT,
		               TPA.INVOICE_ID,
		               TPA.INVOICE_AMT,
		               TPA.DATA_FLAG,
		               TPA.PROVIDER_CODE,
		               TPA.PROVIDER_NAME,
		               TPA.INST_DUTY_CODE,
		               '' AS IS_CREDIT_NOTE,
		               '' as INVOICE_ID_BLUE,
		               TPA.ICMS_EDIT,
		               TPA.APPLY_ICMSEDIT_USER AS INST_OPER,
		               NVL2(TEMP2.pay_id, 'N', 'Y') AS IS_ENABLE
		          from td_pay_advance tpa
		          LEFT JOIN (SELECT pay_id FROM TD_PAY_ADVANCE B WHERE B.APPLY_ICMSEDIT_USER = #{instOper,jdbcType=VARCHAR}) TEMP2 ON TEMP2.PAY_ID = TPA.PAY_ID
		         Where tpa.icms_edit = '1'
		           and exists (select 1
		                  from tb_fndwrr b
		                 where tpa.inst_duty_code = b.duty_code
		                   and b.org1_code  = #{org1Code,jdbcType=VARCHAR})) t
		  LEFT JOIN SYS_SELECT SS
		    ON T.DATA_FLAG = SS.PARAM_VALUE
		   AND SS.CATEGORY_ID = 'PAY_DATA_FLAG'
		  LEFT JOIN TD_CNT TC
		    ON T.CNT_NUM = TC.CNT_NUM
		  LEFT JOIN SYS_SELECT SEL2
		    ON SEL2.CATEGORY_ID = 'CNT_TYPE'
		   AND SEL2.PARAM_VALUE = TC.CNT_TYPE
		  LEFT JOIN TB_FNDWRR TF
		    ON T.INST_DUTY_CODE = TF.DUTY_CODE
		WHERE TF.ORG1_CODE=#{org1Code,jdbcType=VARCHAR}
		<!-- 所有预付款都要审核或者非订单类正常付款-->
		AND (T.isPrePay = 'Y' OR (T.isPrePay = 'N' AND TC.IS_ORDER = '1') OR (T.isPrePay = 'N' AND TC.IS_ORDER = '0' AND T.IS_CREDIT_NOTE = '0'))
		<if test="cntNum != null and '' != cntNum">
			AND T.CNT_NUM LIKE '%' || #{cntNum ,jdbcType=VARCHAR} || '%' 
		</if>
		<if test="cntType != null and '' != cntType">
			AND TC.CNT_TYPE = #{cntType ,jdbcType=VARCHAR}
		</if>
		<if test="providerName != null and '' != providerName">
			AND T.PROVIDER_NAME LIKE '%' || #{providerName,jdbcType=VARCHAR} || '%'
		</if>
		<if test="ouCode != null and '' != ouCode">
			AND TF.OU_CODE = #{ouCode ,jdbcType=VARCHAR}
		</if>
		<if test="createDept != null and '' != createDept">
			AND T.INST_DUTY_CODE = #{createDept ,jdbcType=VARCHAR}
		</if>
		<if test="payId != null and '' != payId">
			AND T.PAY_ID LIKE '%' || #{payId ,jdbcType=VARCHAR} || '%' 
		</if>
		<if test="befDate != null and '' != befDate">
			AND T.PAY_DATE &gt;= #{befDate ,jdbcType=VARCHAR}
		</if>
		<if test="aftDate != null and '' != aftDate">
			AND T.PAY_DATE &lt;=  #{aftDate ,jdbcType=VARCHAR}
		</if>
		ORDER BY T.PAY_DATE DESC,T.CNT_NUM DESC
	</select>
	
	<!--合同预付款详细信息查询-->
	<select id="getPreEditByPayId" parameterType="String" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		SELECT 
			'Y' AS isPrePay,
			TPA.CNT_NUM,
			TC.CNT_AMT,
			TC.ZB_AMT,
			TC.NORMARL_TOTAL_AMT,
			TC.ADVANCE_TOTAL_AMT,
			TC.CNT_TYPE,
			TC.CNT_TAX_AMT,
			TC.CNT_ALL_AMT,
			TPA.PAY_ID,
			TPA.INVOICE_ID,
			TPA.PROVIDER_TYPE,
			TPA.ATTACHMENT_NUM,
			TPA.PROVIDER_NAME,
			TPA.PROV_ACT_NO,
			TPA.BANK_INFO as bankName,
			TPA.INVOICE_AMT,
			TPA.PAY_AMT,
			TPA.PAY_DATE,
			TPA.INVOICE_MEMO,
			TPA.PROV_ACT_CURR,
			TPA.INST_DUTY_CODE,
			TC.FREEZE_TOTAL_AMT,
			TC.SUSPENSE_TOTAL_AMT,
			TPA.PAY_MODE,
			SS.PARAM_NAME AS payModeName,
			TIP.ID,
			TIP.ICMS_PKUUID,
			TPA.DATA_FLAG,
			TPA.ICMS_EDIT
		FROM TD_PAY_ADVANCE TPA
		LEFT JOIN TI_ICMS_PKUUID TIP ON  TPA.PAY_ID=TIP.ID
		LEFT JOIN SYS_SELECT SS ON TPA.PAY_MODE=SS.PARAM_VALUE AND SS.CATEGORY_ID='SYS_PAY_WAY'
		LEFT JOIN TD_CNT TC  ON TPA.CNT_NUM = TC.CNT_NUM
		WHERE TPA.PAY_ID = #{payId,jdbcType=VARCHAR}
	</select>
	
	<!--合同付款详细信息查询-->
	<select id="getEditByPayId" parameterType="String" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		SELECT 
			'N' AS isPrePay,
			TP.CNT_NUM,
			TC.CNT_AMT,
			TC.ZB_AMT,
			TC.NORMARL_TOTAL_AMT,
			TC.ADVANCE_TOTAL_AMT,
			TC.CNT_TYPE,
			TC.CNT_TAX_AMT,
			TC.CNT_ALL_AMT,
			TP.PAY_ID,
			TP.INVOICE_ID,
			TP.PROVIDER_TYPE,
			TP.ATTACHMENT_NUM,
			TP.PROVIDER_NAME,
			TP.PROV_ACT_NO,
			TP.BANK_INFO as bankName,
			TP.INVOICE_AMT,
			TP.INVOICE_AMT_TAX,
			TP.INVOICE_AMT_NOTAX,
			TP.PAY_AMT,
			TP.PAY_DATE,
			TP.INVOICE_MEMO,
			TP.SUSPENSE_AMT,
			TP.SUSPENSE_DATE,
			TP.SUSPENSE_REASON,
			TP.SUSPENSE_PERIOD,
			TP.SUSPENSE_NAME,
			TP.ADVANCE_CANCEL_AMT,
			TP.PAY_MODE,
			TP.IS_CREDIT_NOTE,
			TP.INST_DUTY_CODE,
			TC.FREEZE_TOTAL_AMT,
			TC.SUSPENSE_TOTAL_AMT,
			SS.PARAM_NAME AS payModeName,
			TIP.ID,
			TIP.ICMS_PKUUID,
			TP.IS_FROZEN_BGT,
			TP.DATA_FLAG,
			TP.ICMS_EDIT
		FROM TD_PAY TP
		LEFT JOIN TI_ICMS_PKUUID TIP ON  TP.PAY_ID=TIP.ID
		LEFT JOIN SYS_SELECT SS ON TP.PAY_MODE=SS.PARAM_VALUE AND SS.CATEGORY_ID='SYS_PAY_WAY'
		LEFT JOIN TD_CNT TC  ON TP.CNT_NUM = TC.CNT_NUM
		WHERE TP.PAY_ID = #{payId,jdbcType=VARCHAR}
	</select>
	
	<!--预付款设备采购信息-->
	<select id="getPreEditDeviceListByPayId" parameterType="String" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		SELECT 
			TMT.CGL_CODE,
			TP.PROJ_NAME,
			TMT.MATR_NAME,
			TCD.DEVICE_MODEL_NAME,
			TCD.EXEC_AMT,
			TCD.EXEC_PRICE,
			TCD.PAYED_AMT,
			TCD.FREEZE_AMT,
			TCD.TAX_CODE,
			NVL(DECODE(TCD.DEDUCT_FLAG,'Y',TCD.TAX_YAMT,TCD.TAX_NAMT),0) TAX_AMT,
			NVL(TCD.PAYED_AMT_TAX,0) PAYED_AMT_TAX,
			NVL(TCD.FREEZE_AMT_TAX,0) FREEZE_AMT_TAX,
			TPD.SUB_INVOICE_AMT ,
			TPD.ADD_TAX_AMT  ,
			TCD.FEE_DEPT,
		    TF.DUTY_NAME AS FEE_DEPT_NAME,
			TPD.IVROW_MEMO 
		FROM TD_PAY_DEVICE	TPD
		LEFT JOIN TD_CNT_DEVICE TCD ON TPD.CNT_NUM=TCD.CNT_NUM AND TPD.SUB_ID=TCD.SUB_ID
		LEFT JOIN TB_MATR_TYPE TMT ON TCD.MATR_CODE=TMT.MATR_CODE
		LEFT JOIN TD_PROJECT TP ON TP.PROJ_ID=TCD.PROJ_ID
		LEFT JOIN TB_FNDWRR TF ON TF.DUTY_CODE = TCD.FEE_DEPT
		WHERE TPD.PAY_ID=#{payId,jdbcType=VARCHAR}
		AND TPD.PAY_TYPE='0'
		AND TPD.SUB_INVOICE_AMT!=0
	</select>
	
	<!--付款设备采购信息-->
	<select id="getEditDeviceListByPayId" parameterType="String" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		SELECT 
			TMT.CGL_CODE,
			TP.PROJ_NAME,
			TMT.MATR_NAME,
			TCD.DEVICE_MODEL_NAME,
			TCD.EXEC_AMT,
			TCD.EXEC_PRICE,
			TCD.PAYED_AMT,
			TCD.FREEZE_AMT,
			TCD.TAX_CODE,
			NVL(DECODE(TCD.DEDUCT_FLAG,'Y',TCD.TAX_YAMT,TCD.TAX_NAMT),0) TAX_AMT,
			NVL(TCD.PAYED_AMT_TAX,0) PAYED_AMT_TAX,
			NVL(TCD.FREEZE_AMT_TAX,0) FREEZE_AMT_TAX,
			TPD.SUB_INVOICE_AMT ,
			TPD.ADD_TAX_AMT ,
			TCD.FEE_DEPT,
		    TF.DUTY_NAME AS FEE_DEPT_NAME,
			TPD.IVROW_MEMO 
		FROM TD_PAY_DEVICE	TPD
		LEFT JOIN TD_CNT_DEVICE TCD ON TPD.CNT_NUM=TCD.CNT_NUM AND TPD.SUB_ID=TCD.SUB_ID
		LEFT JOIN TB_MATR_TYPE TMT ON TCD.MATR_CODE=TMT.MATR_CODE
		LEFT JOIN TD_PROJECT TP ON TP.PROJ_ID=TCD.PROJ_ID
		LEFT JOIN TB_FNDWRR TF ON TF.DUTY_CODE = TCD.FEE_DEPT
		WHERE TPD.PAY_ID=#{payId,jdbcType=VARCHAR}
		AND TPD.PAY_TYPE='1'
		AND TPD.SUB_INVOICE_AMT!=0
	</select>
	
	<select id="getPreEditCancleListByCntNum" parameterType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		 SELECT 
		     TPC.ADVANCE_PAY_ID,
		     TPA.PAY_AMT,
		     (
		     	SELECT NVL(SUM(TPC.CANCEL_AMT),0)
				FROM TD_PAY_ADVANCE_CANCEL TPC
				LEFT JOIN TD_PAY_ADVANCE TPA ON TPA.PAY_ID = TPC.ADVANCE_PAY_ID
				WHERE TPA.CNT_NUM     = #{cntNum ,jdbcType=VARCHAR}
				AND TPA.DATA_FLAG = 'F4'
	            AND TPC.DATA_FLAG IN('00','08','10','12')
			 ) AS CANCEL_AMT_TOTAL,
		     SUM(DECODE(TPC.NORMAL_PAY_ID,#{payId ,jdbcType=VARCHAR},TPC.CANCEL_AMT,0)) AS CANCEL_AMT
		  FROM TD_PAY_ADVANCE_CANCEL TPC
		  LEFT JOIN TD_PAY_ADVANCE TPA ON TPA.PAY_ID = TPC.ADVANCE_PAY_ID
		  WHERE TPA.CNT_NUM = #{cntNum ,jdbcType=VARCHAR}
		  AND TPC.NORMAL_PAY_ID = #{payId ,jdbcType=VARCHAR}
		  AND TPA.DATA_FLAG = 'F4'
	      AND TPC.DATA_FLAG IN('00','08','10','12')
		  GROUP BY TPC.ADVANCE_PAY_ID,TPA.PAY_AMT
	</select>
	
	<!--得到一级行下的ouCode集合 -->
	<select id="ouCodeList" parameterType="String" resultType="com.forms.prms.web.pay.icmsedit.domain.IcmsEditBean">
		SELECT 
			DISTINCT OU_CODE,
			OU_NAME
		FROM TB_FNDWRR 
		WHERE ORG1_CODE = #{org1Code ,jdbcType=VARCHAR}
	</select>
</mapper>