<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forms.prms.web.reportmgr.cntPayinfoReport.dao.CntPayinfoReportDAO">
	
	<select id="getCntPayinfoReport" parameterType="com.forms.prms.web.reportmgr.cntPayinfoReport.domain.CntPayinfoReportBean"
			resultType="com.forms.prms.web.reportmgr.cntPayinfoReport.domain.CntPayinfoReportBean">
SELECT BASE.CNT_TYPE,
       BASE.FEE_TYPE,
       BASE.MATR_TYPE,
       BASE.CREATE_DEPT,
       BASE.PAY_DUTY_CODE,
       BASE.ORG1_CODE AS ORG1_CODE,
       BASE.ORG1_NAME AS ORG1_NAME,
       BASE.ORG2_CODE AS ORG2_CODE,
       BASE.ORG2_NAME AS ORG2_NAME,
       BASE.FEE_DEPT,
       BASE.CNT_NUM,
       BASE.CNT_NUM_RELATED,
       BASE.CNT_NAME,
       BASE.PROJ_NAME,
       BASE.PROVIDER_CODE,
       BASE.PROVIDER_NAME,
       BASE.FEE_START_DATE,
       BASE.FEE_END_DATE,
       BASE.CGL_CODE,
       BASE.PAY_TYPE,
       BASE.CNT_ALL_AMT,
       BASE.NOTAX_ALL_PAY_AMT,
       BASE.COUNT_ALL_PAY_AMT,
       BASE.COUNT_ALL_IN_AMT,
       BASE.COUNT_ALL_OUT_AMT,
       BASE.YEAR_ALL_PAY_AMT,
       BASE.YEAR_ALL_IN_AMT,
       BASE.YEAR_ALL_OUT_AMT,
       BASE.YEAR_ALL_FEE
  FROM  V_PAYINFO_REPORT BASE
  <where>
	<if test="con.org1Code != null and '' != con.org1Code and 'null' != con.org1Code">
		AND BASE.ORG1_CODE = #{con.org1Code ,jdbcType=VARCHAR}
	</if>
	<if test="con.org2Code != null and '' != con.org2Code and 'null' != con.org2Code">
		AND BASE.ORG2_CODE = #{con.org2Code ,jdbcType=VARCHAR}
	</if>
	<if test="con.feeDept != null and '' != con.feeDept and 'null' != con.feeDept">
		AND BASE.FEE_DEPT = #{con.feeDept ,jdbcType=VARCHAR}
	</if>
	<if test="con.projName != null and '' != con.projName and 'null' != con.projName">
		AND BASE.PROJ_NAME like '%'||#{con.projName ,jdbcType=VARCHAR}||'%'
	</if>
	<!--合同类型-->
	<if test="con.cntType != null and '' != con.cntType and 'null' != con.cntType">
		AND BASE.CNT_TYPE = #{con.cntType ,jdbcType=VARCHAR}
	</if>
	<!--费用类型-->
	<if test="con.feeType != null and '' != con.feeType and 'null' != con.feeType">
		AND BASE.FEE_TYPE = #{con.feeType ,jdbcType=VARCHAR}
	</if>
	<!--物料类型-->
	<if test="con.matrType != null and '' != con.matrType and 'null' != con.matrType">
		AND BASE.MATR_TYPE = #{con.matrType ,jdbcType=VARCHAR}
	</if>
	<!--核算码-->
	<if test="con.cglCode != null and '' != con.cglCode and 'null' != con.cglCode">
		AND BASE.CGL_CODE = #{con.cglCode ,jdbcType=VARCHAR}
	</if>
	<!--合同受益开始日期-->
	<if test="con.feeStartDate != null and '' != con.feeStartDate and 'null' != con.feeStartDate">
		AND BASE.FEE_START_DATE = #{con.feeStartDate ,jdbcType=VARCHAR}
	</if>
	<!-- 省行 -->
			<if test="con.orgFlag == 1">
				AND BASE.ORG1_CODE = #{org1Code,jdbcType=VARCHAR}
			</if>
			<!-- 二级行 -->
			<if test="con.orgFlag == 2">
				AND EXISTS
				(
				   SELECT 1 FROM TB_FNDWRR TBF WHERE TBF.ORG2_CODE = #{org2Code,jdbcType=VARCHAR} 
				   AND 
				   (
				   	    TBF.DUTY_CODE = BASE.CREATE_DEPT OR 
				   		TBF.DUTY_CODE = BASE.PAY_DUTY_CODE OR 
				   		TBF.DUTY_CODE = BASE.FEE_DEPT 
				   )
				)
			</if>
			<!-- 业务部门 -->		
			<if test="con.orgFlag == 3">
				AND (BASE.CREATE_DEPT = #{dutyCode,jdbcType=VARCHAR}
					OR BASE.PAY_DUTY_CODE = #{dutyCode,jdbcType=VARCHAR}
					OR BASE.FEE_DEPT = #{dutyCode,jdbcType=VARCHAR}
					)
			</if>	
</where>
 ORDER BY BASE.ORG1_CODE, BASE.ORG2_CODE, BASE.CNT_NUM
	</select>
	
	
	
	
	
</mapper>
