<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.forms.prms.web.common.sqnmanager.dao.SqnManagerDAO">
	
	<select id="getNextSeq" parameterType="String"  resultType="String">
			SELECT  #{prefix, jdbcType=VARCHAR}||RM_GET_COMMON_ID(#{sqnId, jdbcType=VARCHAR})||#{suffix, jdbcType=VARCHAR}    FROM DUAL
	</select>
</mapper>