<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FPMS</display-name>
  <filter>
    <description>编码过滤器</description>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>请求线程上下文过滤器</description>
    <filter-name>ThreadFilter</filter-name>
    <filter-class>com.forms.platform.web.mvc.ThreadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ThreadFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>登陆和权限校验过滤器</description>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>com.forms.platform.web.filter.AuthorityFilter</filter-class>
    <init-param>
      <param-name>UNLOGIN_URL</param-name>
      <param-value>/common/jsp/error/unlogin.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>UNAUTHORIZED_URL</param-name>
      <param-value>/common/jsp/error/unauthorise.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>excludeUrl</param-name>
      <param-value>index.jsp,scan/view.do,optimization/pubOptInfo.do,reqactmanagement/requestmag/pubReqInfo.do,user/gotoLogin.do,user/login.do,user/logout.do,attachment/.*,personality/.*,common/.*,report/.*,component/.*,fileUtils/uploadFile.do,fileUtils/fileDownload.do,function/getSubMenu.do</param-value>
    </init-param>
    <init-param>
      <param-name>checkLoginUrl</param-name>
      <param-value>common/contract/scan/.*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>urlFilter</filter-name>
    <filter-class>com.forms.prms.web.filter.URLEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>urlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CompressingFilter</filter-name>
    <filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
    <init-param>
      <param-name>includeContentTypes</param-name>
      <param-value>text/html,text/xml,text/plain,application/json</param-value>
    </init-param>
    <init-param>
      <param-name>compressionThreshold</param-name>
      <param-value>2048</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CompressingFilter</filter-name>
    <url-pattern>/sysmanagement/org/getOrgListTag.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.forms.platform.web.listener.TimeoutListener</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.forms.prms.web.listener.session.MySessionListener
		</listener-class>
  </listener>
  <servlet>
    <description>SpringMVC核心控制器</description>
    <servlet-name>SpringMVCServlet</servlet-name>
    <servlet-class>com.forms.platform.web.mvc.springmvc.servlet.SpringMVCServlet</servlet-class>
    <init-param>
      <description>配置Web控制层的Spring容器</description>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVCServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/platform-tags</taglib-uri>
      <taglib-location>/WEB-INF/tld/platform-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
    <description>ORACLE</description>
    <res-ref-name>jdbc/fpms</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>