
.dhtmlx_message_area{position:fixed; right:5px; width:250px; z-index:1000}
.dhtmlx-info{min-width: 120px; padding:4px 4px 4px 20px; font-family:Tahoma; z-index: 10000; margin:5px; margin-bottom:10px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease}
.dhtmlx-info.hidden{height:0px; padding:0px; border-width:0px; margin:0px; overflow:hidden}
.dhtmlx_modal_box{overflow:hidden; display: inline-block; min-width: 300px; width: 300px; text-align: center; position:fixed; background-color: #fff; background:-webkit-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); background:-moz-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); box-shadow: 0px 0px 14px #888; font-family: Tahoma; z-index:20000; border-radius:6px; border: 1px solid #ffffff}
.dhtmlx_popup_title{border-top-left-radius:5px; border-top-right-radius:5px; border-width:0px; 
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC); background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%); background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%)}
.dhtmlx-info, .dhtmlx_popup_button, .dhtmlx_button{user-select: none; -webkit-user-select: none; -moz-user-select:-moz-none; cursor:pointer}
.dhtmlx_popup_text{overflow:hidden}
.dhtmlx_popup_controls{border-radius:6px; padding:5px}
.dhtmlx_popup_button, .dhtmlx_button{height: 30px; line-height:30px; display: inline-block; margin: 0 5px; border-radius: 6px; color:#FFF}
.dhtmlx_popup_button{min-width: 120px}
div.dhx_modal_cover {background-color:#000; cursor:default; filter:alpha(opacity = 20); opacity: 0.2; position: fixed; z-index:19999; left: 0px; top: 0px; width: 100%; height: 100%; border: none; zoom: 1}
.dhtmlx-info img, .dhtmlx_modal_box img{float:left; margin-right:20px}
.dhtmlx-alert-error .dhtmlx_popup_title, .dhtmlx-confirm-error .dhtmlx_popup_title{background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC)}
.dhtmlx-alert-error, .dhtmlx-confirm-error {border: 1px solid #ff0000}
.dhtmlx_button, .dhtmlx_popup_button{box-shadow: 0px 0px 4px #888; border:1px solid #838383}
.dhtmlx_button input, .dhtmlx_popup_button div{border:1px solid #FFF; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAYFBMVEVwcHBtbW1ra2toaGhmZmZjY2NhYWFeXl5cXFxaWlpXV1dVVVVSUlJQUFBNTU1LS0tJSUlGRkZERERBQUE/Pz88PDw9PT0+Pj5AQEBCQkJDQ0NFRUVHR0dISEhKSkpMTEzqthaMAAAAMklEQVQImQXBhQ2AMAAAsOIMlwWH/8+kRSKVyRVKlVrQaHV6g9FktlhFm93hdLk9Xt8PIfgBvdUqyskAAAAASUVORK5CYII=); background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); border-radius:6px; font-size:15px; font-weight:normal; 
 -moz-box-sizing:content-box; box-sizing:content-box; color:#fff; padding:0px; margin:0px; vertical-align:top; height:28px; line-height:28px}
.dhtmlx_button input:focus, .dhtmlx_button input:active, .dhtmlx_popup_button div:active, .dhtmlx_popup_button div:focus{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==); background-image: -webkit-linear-gradient(top, #707070 1%, #4c4c4c 99%); background-image: -moz-linear-gradient(top, #707070 1%, #4c4c4c 99%); 
}
.dhtmlx_popup_title{color:#fff; text-shadow: 1px 1px #000; height:40px; line-height:40px; font-size:20px}
.dhtmlx_popup_text{margin:15px 15px 5px 15px; font-size:14px; color:#000; min-height:30px; border-radius:6px}
.dhtmlx-info, .dhtmlx-error{font-size:14px; color:#000; box-shadow: 0px 0px 10px #888; 
 padding:0px; 
 background-color:#FFF; border-radius:3px; border:1px solid #ffffff}
.dhtmlx-info div{padding:5px 10px 5px 10px; background-color: #fff; border-radius:3px; border:1px solid #B8B8B8}
.dhtmlx-error{background-color: #d81b1b; border:1px solid #ff3c3c; box-shadow: 0px 0px 10px #000}
.dhtmlx-error div{background-color: #d81b1b; 
 border:1px solid #940000; color:#FFF}
.defaultTreeTable{margin : 0px; padding : 0px; border : 0px}
.containerTableStyle {overflow : auto;-webkit-overflow-scrolling: touch; position:relative; top:0; font-size : 12px; -khtml-user-select: none}
.containerTableStyleRTL span {direction: rtl; unicode-bidi: bidi-override}
.containerTableStyleRTL {direction: rtl; overflow : auto; position:relative; top:0; font-size : 12px}
.standartTreeRow {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; -moz-user-select: none}
.selectedTreeRow{background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; -moz-user-select: none}
.dragAndDropRow{background-color : navy; color:white; }
.standartTreeRow_lor{text-decoration:underline; background-color : #FFFFF0; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; -moz-user-select: none}
.selectedTreeRow_lor{text-decoration:underline; background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; -moz-user-select: none}
.standartTreeImage{width:18px; height:18px; overflow:hidden; border:0; padding:0; margin:0;font-size:1px}
.hiddenRow {width:1px; overflow:hidden}
.dragSpanDiv,.dragSpanDiv td{font-size : 12px; background-color:white; z-index:999}
.a_dhx_hidden_input{position:absolute; top:-1px; left:-1px; width:1px; height:1px; border:none; background:none}
.a_dhx_hidden_input{position:absolute; top:-1px; left:-1px; width:1px; height:1px; border:none; background:none}
.selectionBox{background-color: #FFFFCC}
.selectionBar {top:0; background-color: Black; position:absolute; overflow:hidden; height: 2px; z-index : 11}
.intreeeditRow{font-size:8pt; height:16px; border:1px solid silver; padding:0; margin:0; margin-left:4px; -moz-user-select: text; 
 -khtml-user-select: text}
.dhx_tree_textSign{font-size:8pt; font-family:monospace; width:21px; color:black; padding:0px; margin:0px; cursor:pointer; text-align: center}
.dhx_tree_opacity{opacity:0; -moz-opacity:0; filter:alpha(opacity=0)}
.dhx_bg_img_fix{width:18px;height:18px;background-repeat: no-repeat;background-position: center;background-position-x: center;background-position-y: center}
.dhxtree_dhx_black, .dhxtree_dhx_skyblue{background:white; color:black}
*html .dhxtree_dhx_skyblue .standartTreeRow, *html .dhxtree_dhx_skyblue .standartTreeRow_lor{border-right:0px solid red; border-left:0px solid red}
*html .dhxtree_dhx_skyblue span.standartTreeRow, *html .dhxtree_dhx_skyblue span.standartTreeRow_lor{margin-left:1px; 
}
.dhxtree_dhx_skyblue .standartTreeRow, .dhxtree_dhx_skyblue .standartTreeRow_lor{border-right:1px solid transparent; border-left: 1px solid transparent; font-family:Tahoma; font-size:11px !important; overflow:hidden; padding:0px 0px 0px 0px}
.dhxtree_dhx_skyblue .selectedTreeRow_lor, .dhxtree_dhx_skyblue .selectedTreeRow{background-color:white; background-image:url(imgs/sky_blue_sel_tree.png); background-repeat:repeat-x; border:1px solid #FFB951; color:black; line-height:17px; 
 font-size:11px !important; 
 font-family:Tahoma;
  overflow:hidden}
html > body .dhxtree_dhx_skyblue .selectedTreeRow, html > body .dhxtree_dhx_skyblue .selectedTreeRow_lor{padding:1px 0px 1px 0px; line-height:normal; display:inline-block !ie; height:13px}
body:nth-of-type(1) .dhxtree_dhx_skyblue span.selectedTreeRow, body:nth-of-type(1) .dhxtree_dhx_skyblue span.selectedTreeRow_lor{padding:1px 0px 1px 0px; display:inline-block; padding-top:0px; height:13px}
body:nth-of-type(1) .dhxtree_dhx_skyblue span.standartTreeRow, body:nth-of-type(1) .dhxtree_dhx_skyblue span.standartTreeRow_lor{display:inline-block; height:14px}
.dhxtree_dhx_web .selectedTreeRow_lor, .dhxtree_dhx_web .selectedTreeRow{background-color:transparent; 
}
.dhxtree_dhx_web span.selectedTreeRow_lor , .dhxtree_dhx_web span.selectedTreeRow{background-color:#ACDAF0; color:black}
.dhxtree_dhx_web td.standartTreeRow, .dhxtree_dhx_web td.selectedTreeRow{padding-left:2px}
.dhxtree_dhx_web span.standartTreeRow, .dhxtree_dhx_web span.selectedTreeRow{padding-left:3px !important}
.dhxtree_dhx_web .standartTreeRow, .dhxtree_dhx_web .standartTreeRow, .dhxtree_dhx_web .selectedTreeRow_lor, .dhxtree_dhx_web .selectedTreeRow{font-size:12px; font-family:Tahoma; overflow:hidden}
.dhxtree_dhx_terrace .standartTreeRow, .dhxtree_dhx_terrace .standartTreeRow, .dhxtree_dhx_terrace .selectedTreeRow_lor, .dhxtree_dhx_terrace .selectedTreeRow{font-family:Arial; font-size:13px; padding:3px 1px 4px 2px}
.dhxtree_dhx_terrace .standartTreeImage{
 padding-left:3px 
}
.dhxtree_dhx_terrace .selectedTreeRow_lor, .dhxtree_dhx_terrace .selectedTreeRow{background-color:transparent; 
}
.dhxtree_dhx_terrace span.selectedTreeRow_lor , .dhxtree_dhx_terrace span.selectedTreeRow{background-color:#fff3a1; color:black}

html > body .dhxtree_dhx_skyblue td {
	border:none;
	height: 20px;
}